<div style="text-align: center;">
<div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
        <div *ngIf="seat.row === 'A'">
           <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
       </div>
</div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'B'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'C'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'D'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'E'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'F'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'G'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'H'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div>
    <br>
<div style="text-align: center;">
            <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                    <div *ngIf="seat.row === 'I'">
                       <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
                   </div>
            </div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'J'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'K'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'L'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div><br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'M'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'N'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div><br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'O'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'P'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'Q'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div>
<br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'R'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div><br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'S'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div><br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'T'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div><br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'U'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div><br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'V'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div><br>
<div style="text-align: center;">
        <div style="display: inline-block; text-align: center;" *ngFor="let seat of seats; let i = index">
                <div *ngIf="seat.row === 'W'">
                   <p class="{{seat.status}}"  (click)="clicked(seat, $event);" style="border: 1px solid grey; margin: 2px; padding: 2px; cursor: pointer;">{{seat.name}}</p>
               </div>
        </div>
</div><br>
<br>
<form [formGroup]="contactForm" (ngSubmit)="bookNow(contactForm.value)" novalidate style="text-align: center;">
        <div class="form-group">
          <input class="form-group" formControlName="name" placeholder="Name" ><br><br>
          <input class="form-group" formControlName="email" placeholder="Email" required><br><br>
          <input class="form-group" formControlName="phone" placeholder="Phone" required><br><br>
        </div>
        <button type="submit" [disabled]="contactForm.pristine">BOOK</button><br>
</form>