<h1>USER PROFILES </h1>
<h2>Show </h2>
<div>
    <div *ngFor="let u of users; let i = index">
        <p>Name of User: <span>{{u.firstName}}</span></p>
    </div>
</div>
<h2>Delete By ID</h2>
<form #userdel="ngForm" (ngSubmit)="onClickDel(userdel.value)">
       Enter ID <input type="text" name="id" ngModel/>
        <input type="submit" value="submit">
</form>
<br>
<h1>Enter new Product details</h1>
<form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
    First Name<input name="firstName" type="text" ngModel/>
    <br> Last Name <input name="lastName" type="text" ngModel/>
    <br>Email<input type="email" name="email" placeholder="emailid" ngModel>
    <br>Password <input type="password" name="password" placeholder="passwd" ngModel>
    <br> phone <input name="primaryContactNum" type="number" ngModel/>
    <br> secondary number<input name="secondaryPhone" type="number" ngModel/>
    <br> address <input name="address" type="string" ngModel />
    <br>
    <input type="email" name="email" placeholder="emailid" ngModel>
    <br>
    <input type="password" name="password" placeholder="passwd" ngModel>

    <br>
    <input type="submit" value="submit">
</form> 
<app-products></app-products>